@model Timesheet.Micro.Models.Domain.Model.Employee
<div class="form-group">
    @Html.LabelFor(x => x.IsActive, "Aktiv ansatt")
    @Html.CheckBoxFor(x => x.IsActive)
</div>
<div class="form-group">
    @Html.LabelFor(x=>x.FirstName,"Fornavn")
    @Html.TextBoxFor(x => x.FirstName)
</div>
<div class="form-group">
    @Html.LabelFor(x => x.LastName, "Etternavn")
    @Html.TextBoxFor(x => x.LastName)
</div>
<div class="form-group">
    @Html.LabelFor(x => x.StartDate, "Oppstartsdato")
    <input type="date" name="StartDate" value="@Model.StartDate"/>
</div>
<div class="form-group">
    @Html.LabelFor(x => x.StartDate, "Oppstartsdato")
    <input type="date" name="StartDate" value="@Model.StartDate"/>
</div>

